<%if(message) {%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Invalid Access!</strong> <%= message%>
  </div>
<%}%>
<%if(register) {%>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>User Registered!</strong> <%=register%>
  </div>
<%}%>
<div class="container margin-30">
  <form method="POST" class="form-handle" action="/user/login">
    <div>
      <h1 style="text-align: center;">LOGIN</h1>
      <hr><br>
      <div class="form-group col-lg-12 margin-30">
        <input required type="email" name="email" class="form-control" placeholder="Enter email" />
      </div>
      <div class="form-group col-lg-12">
        <input required type="password" name="password" class="form-control" placeholder="Enter password" />
      </div>
      <div class="form-group" style="margin-left: 25%;">
        <input class="btn btn-success col-lg-4" type="submit" style="margin:2% 0  2% 0;" />
        <button class="btn btn-danger col-lg-4">CANCEL</button>
      </div>
    </div>
  </form>
</div>